
@{
    ViewBag.Title = "Home";
}


<div class="row row-cols-1 row-cols-md-2 g-4 m-5">
    <div class="col">
        <a style="text-decoration:none" href="/Moms">
        <div class="card bg-dxc-lightgrey btn">
            <div class="card-body">
                <h5 class="card-title">Minutes of Meeting</h5>
                <p class="card-text">View/Create minutes for your meeting and assign tasks to the responsible.</p>
            </div>
        </div>
        </a>
    </div>

    <div class="col">
        <a style="text-decoration:none" href="/Rosters">
            <div class="card bg-dxc-lightgrey btn">
                <div class="card-body">
                    <h5 class="card-title">View Roster</h5>
                    <p class="card-text">View your team's on-call person and individual allocation for each assignment group.</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
        <a style="text-decoration:none" href="/ToDoes">
            <div class="card bg-dxc-lightgrey btn">
                <div class="card-body">
                    <h5 class="card-title">My ToDo List</h5>
                    <p class="card-text">View your pending tasks and keep track of your tasks.</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
        <a style="text-decoration:none" href="/Rosters/Create">
            <div class="card bg-dxc-lightgrey btn">
                <div class="card-body">
                    <h5 class="card-title">Create Roster</h5>
                    <p class="card-text">You can create Roster for each month and export as excel.</p>
                </div>
            </div>
        </a>
    </div>
</div>
